@charset "UTF-8";
/*@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";*/
@import './reset.css';

/**--------------------整体样式--------------------------**/
body {
  margin: 0;
  position: absolute;
  background-color: #e9eef3;
}

body > .el-container {
  margin-bottom: 40px;
}

/*表格下拉按钮*/
.el-table__expand-icon {
  border: 1px solid #ebeef5;
}

/*工具条*/
.tool-bar {
  width: 100%;
  margin-bottom: 20px;
}

/*表格*/
.table-box {
  margin-bottom: 20px;
}

/**--------------------顶部导航样式--------------------------**/
.el-header,
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
  width: 100%;
  position: fixed;
  z-index: 0;
}

/**--------------------左侧导航样式--------------------------**/

.el-menu {
  border-right: none !important;
}

.el-menu-demo {
  text-align: left;
}

/*.el-menu-vertical-demo:not(.el-menu--collapse) {*/
/*    width: 260px;*/
/*    min-height: 400px;*/
/*}*/

/**--------------------内容样式--------------------------**/
.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
}

/**--------------------分页样式--------------------------**/
.pagination-box {
  width: 100%;
  text-align: right;
}

/**--------------------Element-Ui样式重置-------------------------**/
.el-scrollbar__wrap {
  margin-bottom: 0 !important;
}
.el-dialog {
  max-width: 650px !important;
}

/**-------------------css滚动条主要部分的样式-------------------------**/

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px; /*对垂直流动条有效*/
  height: 8px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(250, 250, 250);
  /* border-radius: 3px; */
}
.el-scrollbar__wrap {
  overflow-x: hidden !important;
}
/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(235, 235, 235);
}

/**-------------------css fontawesome icon样式-------------------------**/
.el-menu .fa {
  margin-right: 5px;
  width: 24px;
  font-size: 18px !important;
}

.nav-svg-icon {
  margin-right: 8px;
  margin-left: 3px;
  width: 18px;
  height: 18px;
  font-size: 18px !important;
}
/**-------------------树形表格样式-------------------------**/
.el-table [class*='el-table__row--level'] .el-table__expand-icon {
  margin-right: 10px !important;
}
